# Math lib
numpy

# JIT compilation for numpy code
numba

# Python CRC implementation
# Fork used because the package was removed from PyPI
-e git+git://github.com/fr0mhell/PyCRC.git#egg=PyCRC

# Tree implementation
anytree

# HTTP requests
requests
